@{
    ViewBag.Title = "OneRewards";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<h3>One Rewards Mobile options:</h3>
<ol class="round">
    <li class="one">
        <h5>Mobile App</h5>
              <img alt="QRCode" src="http://chart.apis.google.com/chart?cht=qr&chs=180x180&chld=L&choe=UTF-8&chl=https%3A%2F%2Fskydrive.live.com%2Fembed%3Fcid%3DD55C4BA97DCE8ED0%26resid%3DD55C4BA97DCE8ED0%2521107%26authkey%3DAPkDy28s1WAhfG0" />
   </li>

    <li class="two">
        <h5>Mobile App via market</h5>
        Windows Market <a href="http://www.windowsphone.com/en-US/marketplace" target="_blank">
            Search Market Place</a></li>
</ol>
